<sw-wizard
  (finish)="onFinish()"
  [canClose]="canClose$">
  <sw-wizard-step 
    *ngIf="form && data"
    [canExit]="(form.valid && certificateStep?.isValid) || (certificate$ | async)?.RawData"
    [title]="title">
    <form [formGroup]="form" class="slds-form--horizontal">
      <sw-form-element [error]="errors['IssuerName']" errorPaddingLeft="150" class="sw-form-element__textfield_first">
        <ngl-form-element label="Issuer Name" class="sw-element-extended-150">
          <input nglFormControl required type="text" formControlName="IssuerName" autofocus />
        </ngl-form-element>
      </sw-form-element>
      <sw-identity-x509-certificate-step
        radioGroupText="Specify X.509 certificate of the Trusted Issuer by:"
        radioCertificateThumbprintText="Providing X.509 certificate thumbprint"
        radioCertificateUploadText="Uploading X.509 certificate"
        certificateGroupText="Certificate from CER file"
        acceptFileExtensions="application/x-x509-ca-cert" 
        [showUploadSection]="!!!(data.Certificate && data.Certificate.length)"
        [uploadCertificate]="!!(data.Certificate && data.Certificate.length)"
        [thumbprint]="data.Thumbprint"
        [showPassword]="false"
        [data]="identity"
        [certificate]="certificate$ | async">
      </sw-identity-x509-certificate-step>
    </form>
  </sw-wizard-step>
  <sw-wizard-step
    *ngIf="!!(certificate$ | async)?.RawData && certificateStep?.getInfo().needToUploadCertificate"
    title="Certificate Information">
    <sw-identity-x509-certificate-view-step
      [data]="certificate$ | async"
      [user]="wizardData.user"
      [canUpload]="true">
    </sw-identity-x509-certificate-view-step>
  </sw-wizard-step>
</sw-wizard>