<sw-data-table title="Trusted Named Issuers"
  class="sw-data-table--striped"
  [data]="data"
  [readonly]="readonly"
  [viewable]="true"
  [deletable]="true"
  [sortable]="false"
  (delete)="onDelete($event)"
  (view)="onCreateOrUpdate($event)">
    <sw-dt-actions *ngIf="!readonly">
      <button (click)="onCreateOrUpdate()" 
              class="sw-button sw-grid-button" 
              swDatatableHeadingRight>
              + Add
      </button>
    </sw-dt-actions>
    <sw-dt-column prop="IssuerName" 
      title="Issuer Name"
      width="200px">
    </sw-dt-column>
    <sw-dt-column prop="FriendlyName" title="Issuer X.509 Identity">
      <ng-template swDtCell let-value>
        {{ value }}
      </ng-template>
    </sw-dt-column>
</sw-data-table>