<sw-section label="Base Addresses" class="sw-section sw-section-legend-h2">
  <div class="sw-base-address-tables">
    <sw-data-table class="sw-node-base-address__table"
      *ngFor="let address of baseAddresses; let i = index"
      class="sw-data-table--striped"
      [ngClass]="i === 0 ? 'sw-physical-table' : 'sw-azure-table'"
      [showActionBar]="i > 0"
      [data]="address.Addresses"
      [viewable]="true"
      [deletable]="i > 0"
      [sortable]="false"
      [readonly]="readonly"
      (view)="onUpdate($event)"
      (delete)="onDelete($event)">

        <sw-dt-actions>
          <button (click)="onAdd()" class="sw-button sw-grid-button" swDatatableHeadingRight>+ Add</button>
        </sw-dt-actions>

        <sw-dt-column prop="Address">
          <ng-template swDtHeader let-column let-columnIndex="columnIndex">
              <img [src]="getNodeAddressImage(address.Kind)" class="sw-base-address-header-image" />
              {{address.Kind | enumToStringByMap: 'NodeAddressKindMap'}}
          </ng-template>

          <ng-template swDtCell let-dataItem="data">
              {{removeTrailingSlash(dataItem.Address)}}
              <span *ngIf="dataItem.Configuration">
                &nbsp;&nbsp;&nbsp;({{(dataItem.Configuration.CredentialType | enumToStringByMap : 'AzureCredentialTypeMap')}})
              </span>
          </ng-template>
        </sw-dt-column>
    </sw-data-table>
  </div>
</sw-section>

