@import '~styles/mixins';
@import '~styles/variables';

:host {

  margin-top: $sw-10px;

  .sw-base-address-tables {
    @include layout-column();
  }

  .sw-base-address-header-image {
    margin-right: $sw-8px;
  }
}

:host(.sw-node-base-address__table) {
  flex: auto;
}