<sw-node-summary-edit 
  *ngIf="canWrite$ | async; else readonlyView"
  [data]="node$ | async" 
  [canSave]="(hasPendingChanges$ | async)"
  [canRefresh]="(node$ | async)?.Id > 0"
  [user]="user$ | async"
  (commit)="onSave($event)"
  (refresh)="onRefresh($event)"
  (delete)="onDelete($event)">
</sw-node-summary-edit>
<ng-template #readonlyView>
  <sw-node-summary-readonly
    [data]="node$ | async"
    (refresh)="onRefresh($event)">
  </sw-node-summary-readonly>
</ng-template>