@import '~styles/mixins';
@import '~styles/variables';

:host {

  .sw-client-address-options__container {
    @include layout_row();
    flex: 1;
    align-items: flex-start;
    padding-left: $sw-32px;

    .sw-client-address-options__aligner {
      @include layout_row();
      align-items: center;
    }
  }

  .sw-retrieve-ip__combobox .slds-form-element__label {
    flex: 0 0 $slds-form-flex-basis * 3 !important;
  }

  .sw-clent-address-options {
    .slds-select {
      width: $sw-70px;
    }

    ngl-form-element {
      margin-top: 0;
  
      .slds-form-element__label {
        margin-right: $sw-12px;
        margin-left: $sw-24px;
      }
    }
  }

  .sw-retrieve-ip__container {
    margin-top: $sw-8px;
  }
  
  .sw-clent-address-options {
    margin-left: 0;
  }
  
  .sw-client-address-postfix,
  .sw-clent-address-options-readonly {
    margin-left: $sw-10px;
  }

  .sw-recycling-mode,
  .sw-retrieve-ip__combobox {
    min-width: ($sw-100px * 4) + $sw-50px;
    width: 100%;
    flex: 0 0 $sw-100px * 4.85;
  }

  .sw-retrieve-ip__container {
    @include layout-row();
    flex: 1;
    align-items: top;
  }

  .sw-clent-address-options {
    flex: 0 0 $sw-100px;
  }

  .sw-client-address-postfix {
    margin: 0 0 0 $sw-12px;
    text-align: left;
    flex: 1;
    line-height: 1.3;
  }

  .sw-section__advanced {
    display: block;
  }
}