<form [formGroup]="form" class="slds-form--horizontal" >
  <ngl-section [(open)]="open" title="Advanced" class="sw-section__advanced">
    <div class="sw-recycling-mode" [swReadonlyForm]="readonly">
      <sw-form-select 
        label="Recycling mode"
        controlName="ChangeMode"
        class="sw-element-extended-300 sw-form-element__textfield_first sw-form-element__select_advanced"
        [readonly]="readonly"
        [form]="form"
        [items]="changeModes | mapToIterable"
        (changed)="changed()">
      </sw-form-select>
    </div>
    <div class="sw-retrieve-ip__container">
      <div class="sw-retrieve-ip__combobox" [swReadonlyForm]="readonly">
        <sw-form-element [error]="errors['ClientAddressHeaderName']" [errorPaddingLeft]="300" class="sw-form-element__input_advanced sw-form-element__textfield_first"> 
          <ngl-form-element
            class="sw-element-extended-300" 
            label="Retrieve original client IP address from HTTP header">
              <input nglFormControl type="text" placeholder="" (keyup)="changed()" formControlName="ClientAddressHeaderName">
          </ngl-form-element>
        </sw-form-element>
      </div>
      <div *ngIf="readonly; else editSettings" class="sw-clent-address-options-readonly">
        <span *ngIf="form.value.ClientAddressHeaderName" class="sw-client-address-postfix slds-form-element__label">
          (Use <strong>{{(form.value.ClientAddressOptions | enumToStringByMap : 'ClientAddressOptionsMap').toLowerCase()}}</strong>
          {{addressPostfix}}
        </span>
      </div>
      <ng-template #editSettings>
        <div class="sw-client-address-options__container">
          <div class="sw-client-address-options__aligner">
              <div class="sw-clent-address-options" *ngIf="form.value.ClientAddressHeaderName">
                  <sw-form-select
                    label="(Use"
                    controlName="ClientAddressOptions"
                    class="sw-label-min-width sw-client-address-options__select sw-form-element sw-form-element__textfield_first"
                    [form]="form"
                    [items]="addressOptions | mapToIterable"
                    (changed)="changed()">
                  </sw-form-select>
              </div>
              <span *ngIf="form.value.ClientAddressHeaderName" class="sw-client-address-postfix slds-form-element__label">
                {{addressPostfix}}
              </span>
          </div>
        </div>
      </ng-template>
    </div>
  </ngl-section>
</form>