@import 'variables';

button {
  &:focus {
    outline: 0;
  }
}

.sw-button {
  position: relative;
  display: inline-block;
  padding: 0 1rem 0 1rem;
  background: 0 0;
  background-clip: border-box;
  border: 1px solid transparent;
  font-size: .75rem;
  line-height: 1.875rem;
  text-decoration: none;
  color: $font-white;
  white-space: normal;
  user-select: none;
  transition: color 50ms linear, background-color 50ms linear;
  text-align: center;
  vertical-align: middle
}

.sw-button+.sw-button {
  margin-left: .25em;
}

.sw-button--default {
  background-color: $blue;
}

.sw-button--error {
  background-color: $red;
}

.sw-button--success {
  background-color: $green;
}

.sw-grid-button {
  border: none;
  padding: 0;
  margin: 0 0 $sw-5px;
  background-color: transparent;
  font-weight: 200;
  font-size: 18px;
  color: $black;

  &:hover {
    text-decoration: underline $font-transparent-54;
    color: inherit;
  }
}

.sw-button--details {
  width: $sw-30px;
  height: $sw-30px;
  border: $sw-1px solid $light-gray;
  background-color: transparent;
  background-image: url('./assets/img/option-icon.png');
  background-repeat: no-repeat;
  background-position: center;
}

