<h1 sw-dialog-title>Modify Node Base Address</h1>
<div sw-dialog-content>
  <form [formGroup]="form" class="slds-form--horizontal">
    <sw-form-element [error]="errors['Address']" errorPaddingLeft="50">
      <ngl-form-element label="Host" class="sw-form-element_host sw-element-extended-50">
        <input nglFormControl formControlName="Address" type="text" required autofocus/>
      </ngl-form-element>
    </sw-form-element>
  </form>
</div>
<div sw-dialog-actions align="end">
   <button sw-dialog-close>Cancel</button>
   <button [disabled]="!form.valid" sw-dialog-ok (click)="close()">
     Ok
   </button>
</div>