@import '~styles/variables';
@import '~styles/mixins';

:host {
  flex: 1;
  @include layout-row();
  justify-content: center;
  align-items: center;

  .sw-not-authorized {
    @include empty-state-text();
  }
}