<form [formGroup]="form" #identityForm="ngForm" class="slds-key-editor-form">
    <sw-form-element [error]="errors['Name']" class="sw-form-element__textfield_first">
        <ngl-form-element [label]="data.NameLabel" class="sw-label sw-label-strong slds-form-element">
            <input nglFormControl 
                   type="text"
                   [readonly]="readOnly"
                   [ngClass]="{'sw-key-editor-input-error' : errors['Name']}"
                   class="slds-key-edit-name-wrapper__input"
                   (keyup)="nameChanged()"
                   placeholder=""
                   required
                   formControlName="Name"/>
            <button class="slds-button slds-key-editor__button" [title]="header" [disabled]="false" type="button" (click)="openDialog()">
              <i class="sw-icons sw-icon-key"></i>
            </button>
          </ngl-form-element>
    </sw-form-element>
  </form>