@import '~styles/variables';
@import '~styles/mixins';

:host {

  $keyButtonSize: calc(1.875rem + (1px * 2)); 

  form.slds-key-editor-form {
    flex: 1;
    ngl-form-element {

      .slds-form-element__control {
        flex: 1;
      }

      .slds-key-edit-name-wrapper__input{
        margin-right: $sw-8px;
      }
    }

    .sw-key-editor-error {
      color: $red;
      text-align: left;
    }

    .sw-key-editor-input-error {
      border: $sw-1px solid $red;
    }
  }

  .slds-key-editor__button {
    min-width: $keyButtonSize;
    min-height: $keyButtonSize;
    background-size: 85%;
    border: $slds-input-border;
    border-radius: 0;
    @include layout-row();
    align-items: center;
    justify-content: center;

    .sw-icons {
      pointer-events: none;
    }
    .sw-icon-key:before {
      font-size: $sw-20px;
      display: block;
    }
  }

  .slds-key-editor__button:hover{
    background-color: $slds-input-background-color;
  }

  .slds-key-editor__button:focus{
    border-color: $slds-border-color;
    box-shadow: none;
  }
}
