<sw-entity-action-bar
  [showSave]="false"
  [showDelete]="false"
  [canRefresh]="true"
  (refresh)="onRefresh()">
</sw-entity-action-bar>
<sw-scroll-container>
  <sw-node-summary-edit-form
    [form]="form"
    [errors]="errors"
    [data]="data"
    [readonly]="true">
  </sw-node-summary-edit-form>
  <sw-node-instances
    [data]="data"
    [readonly]="true">
  </sw-node-instances>
  <sw-node-base-addresses
    [baseAddresses]="baseAddressesFiltered"
    [readonly]="true">
  </sw-node-base-addresses>
  <sw-identities-grid
    title="Node Identities"
    identityTypeMap="NodeIdentityKindMap"
    [data]="data.Identities"
    [canView]="true"
    (view)="onNodeIdentityView($event)">
  </sw-identities-grid>
  <sw-node-trusted-named-issuers
    [data]="data.TrustedIssuers"
    [readonly]="true">
  </sw-node-trusted-named-issuers>
  <sw-node-advanced
    [data]="data.Settings"
    [changeModes]="getConfigurationChangeModes()"
    [readonly]="true">
  </sw-node-advanced>
</sw-scroll-container>