<sw-toolbar [color]="'alternate'" >
  <div class="sw-nodes__title">Node</div>
</sw-toolbar>
<sw-tab-bar>
  <sw-tab-bar-item [route]="['./']">Summary</sw-tab-bar-item>
  <ng-container *ngIf="(node$ | async)?.Id > 0;">
    <sw-tab-bar-item [route]="['dependencies']">Dependencies</sw-tab-bar-item>
    <sw-tab-bar-item [route]="['hosted-services']">Hosted Services</sw-tab-bar-item>
    <sw-tab-bar-item [route]="['activity-logs']">Activity Logs</sw-tab-bar-item>
    <sw-tab-bar-item [route]="['audit']">Audit</sw-tab-bar-item>
    <sw-tab-bar-item [route]="['monitoring']">Monitoring</sw-tab-bar-item>
  </ng-container>
</sw-tab-bar>
<div class="sw-nodes__content">
  <router-outlet></router-outlet>
</div>