@import '~styles/variables';
@import '~styles/mixins';

:host {
  flex: 1;
  @include layout-column();
  background-color: $sw-content-container-color;
  overflow: hidden;

  .sw-nodes__title {
    font-weight: $sw-font-weight-light;
    color: $sw-brand;
  }

  .sw-nodes__content {
    @include layout-column();
    flex: 1;
    background-color: $white;
    padding: 1rem 1.5rem;
    overflow: hidden;
  }
}