/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/button';
@import 'styles/forms';
@import 'styles/caret';
//@import 'styles/combo-box';
@import 'styles/expressions';
@import 'styles/kendo';
@import 'app/shared/dialog/overlay/overlay';


// Include mixins
@include sw-overlay();
@include kendo-overrides();

@font-face {
  font-family: 'sw-icons';
  src:  url('assets/fonts/icons/icons.eot');
  src:  url('assets/fonts/icons/icons.eot') format('embedded-opentype'),
    url('assets/fonts/icons/icons.ttf') format('truetype'),
    url('assets/fonts/icons/icons.woff') format('woff'),
    url('assets/fonts/icons/icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sw-icons {
  transition: all .2s;
  font-family: 'sw-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: $font-light-gray;
  font-size: $sw-16px;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  cursor: pointer;

  &:hover  {
    color: $font-gray;
  }
}