<form [formGroup]="form" #identityForm="ngForm" class="slds-form--horizontal">
  <sw-form-element [error]="errors['Key']" errorPaddingLeft="50">
    <ngl-form-element label="Key" class="sw-element-extended-50">
      <input nglFormControl formControlName="Key" [readonly]="readOnly" type="text" (keyup)="keyInfoChanged()" required autofocus/>
    </ngl-form-element>
  </sw-form-element>
</form>