 <form [formGroup]="form" class="slds-form--horizontal" [swReadonlyForm]="readonly">
  <sw-key-editor 
    [data]="keyEditData"
    [readOnly]="readonly"
    [header]="'Node Key'"
    (commit)="commitKey($event)"
    [class]="'sw-element-extended slds-form-element sw-element__key-editor sw-element-extended-120'">
  </sw-key-editor>
  <ngl-form-checkbox-toggle label="Enabled" enabledText="" disabledText="" class="sw-label sw-label-strong sw-element-extended-120">
    <input nglFormControl type="checkbox" formControlName="IsEnabled" />
  </ngl-form-checkbox-toggle>
  <sw-form-element [error]="errors['HeartbeatIntervalSeconds']" [errorPaddingLeft]="120" > 
          <ngl-form-element
            class="sw-element-extended-120 sw-label sw-label-strong" 
            label="Heartbeat Interval">
              <input nglFormControl type="text" placeholder="" required formControlName="HeartbeatIntervalSeconds">
          </ngl-form-element>
        </sw-form-element>
  <sw-form-label
    *ngIf="!isNew"
    [class]="'slds-form-element sw-label sw-label-strong sw-element-extended-120'"
    label="State Last Updated"
    [text]="data.LastUpdate | toLocalDateTime"
    [labelWidth]="120">
  </sw-form-label>
  <sw-form-label
    *ngIf="!isNew"
    [class]="'slds-form-element sw-label sw-label-strong sw-element-extended-120'"
    label="Node Type"
    [text]="data.NodeType | enumToStringByMap : 'NodeTypeMap'"
    [labelWidth]="120">
  </sw-form-label>
</form>