@import '~styles/mixins';
@import '~styles/variables';

:host {
  @include summary-edit-form();

  .sw-key-editor-error {
    color: $red;
    text-align: left;
    margin-left: $sw-100px * 1.44;
  }  
}