<h1 sw-dialog-title>{{data.header}}</h1>
<div sw-dialog-content>
  <sw-key-edit-form 
    [data]="data.entity"
    [readOnly]="readOnly">
  </sw-key-edit-form>
</div>
<div sw-dialog-actions align="end">
   <button sw-dialog-close *ngIf="!readOnly">Cancel</button>
   <button sw-dialog-ok [disabled]="!keyEditForm.isValid" (click)="sendSavedNotification()">
     {{ readOnly ? 'Ok' : 'Save'}}
   </button>
</div>