<sw-data-table 
  [title]="'Node Instances'"
  class="sw-data-table--striped"
  [readonly]="readonly"
  [data]="data.Instances"
  [selectable]="true"
  (expand)="onExpand($event)"
  [deletable]="true"
  [sortable]="false"
  (delete)="onDelete($event)">

  <sw-dt-column prop="Status" title="Status" width="10%">
    <ng-template swDtCell let-value>
      <div class="sw-dt-column__data-item_status-container">
        <span _ngcontent-c47="" class="sw-dt-column__data-item_status-icon-text">
            <img [src]="getStatusImage(value)" />
        </span>
        <span class="sw-dt-column__data-item_status-text">
            {{value | enumToString: "OperationalStatus"}}
        </span>
      </div>
    </ng-template>
  </sw-dt-column>

    <sw-dt-column prop="Name" title="Id" width="40%">
  </sw-dt-column>

    <sw-dt-column prop="MachineName" title="Machine" width="10%">
  </sw-dt-column>

    <sw-dt-column prop="ClientAddress" title="IP Address" width="10%">
  </sw-dt-column>

  <sw-dt-column prop="LastHeartbeat" title="Last Heartbeat" width="15%">
    <ng-template swDtCell let-value>
      <span [ngClass]="{'sw-heartbeat-old' : data.LastUpdate > value}">{{value | toLocalDateTime}}</span>
    </ng-template>
  </sw-dt-column>

      <sw-dt-column prop="RuntimeVersion" title="Version" width="10%">
  </sw-dt-column>

  <ng-template swDtDetailRow let-dataItem>
    <span class="sw-dt-detail-row__information">{{dataItem.Information}}</span>
  </ng-template>
</sw-data-table>
