@import '~styles/variables';
@import '~styles/mixins';

:host(){
  @include layout-row();
  flex: 1;
  overflow: hidden;
  min-height: $sw-table-min-height;
  .sw-heartbeat-old {
    font-weight: $sw-font-weight-bold;
  }

  .sw-dt-detail-row__information {
    white-space: pre-wrap;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 20px;
    display: block;
  }
}