<sw-entity-action-bar
  [canSave]="canSave"
  [canRefresh]="canRefresh"
  [showRefresh]="data.Id > 0"
  [showExport]="false"
  (save)="onSave()"
  (refresh)="onRefresh()"
  (delete)="onDelete()">
</sw-entity-action-bar>
<sw-scroll-container>
  <sw-node-summary-edit-form
    [form]="form"
    [errors]="errors"
    [data]="data"
    [isNew]="isNew()"
    (keyInfoChanged)="onKeyInfoChanged($event)">
  </sw-node-summary-edit-form>
  <div *ngIf="!isNew()">
    <sw-node-instances class="sw-grid--status-text-details"
      [data]="data"
      (delete)="onNodeInstanceDelete($event)">
    </sw-node-instances>
    <sw-node-base-addresses
      [nodeId]="data?.Id"
      [baseAddresses]="baseAddressesFiltered"
      (update)="onBaseAddressUpdate($event)"
      (delete)="onBaseAddressDelete($event)">
    </sw-node-base-addresses>
    <sw-identities-grid
      title="Node Identities"
      identityTypeMap="NodeIdentityKindMap"
      [canView]="true"
      [showViewButtonOnlyForKind]="certificateIdentityKind"
      [data]="data.Identities"
      (view)="onNodeIdentityView($event)">
    </sw-identities-grid>
    <sw-node-trusted-named-issuers
      [data]="data.TrustedIssuers"
      [user]="user"
      (update)="onTrustedIssuerUpdate($event)"
      (delete)="onTrustedIssuerDelete($event)">
    </sw-node-trusted-named-issuers>
    <sw-node-advanced
      [data]="data.Settings"
      [changeModes]="getConfigurationChangeModes()"
      (commit)="onAdvancedDataCommit($event)">
    </sw-node-advanced>
  </div>
</sw-scroll-container>
